<hr />
<h1>{{tutorialObject.title}}</h1>
<h2>{{tutorialObject.subtitle}}</h2>

<p>number:{{2+2}}</p>

<p>string: {{"Elizabeth"+" "+"Rangel"}}</p>
<p>string: {{tutorialObject.name+" "+tutorialObject.lastname | uppercase}}</p>

<p>Binding: {{tutorialObject.bindOutput | currency: "#": ""}}</p>

<br />
<button ng-click="timeTwo()">Multiply</button>
<br />

<label>Nombre: </label>
<!--Todo lo que va despues de | es un filtro -->
<input ng-model="tutorialObject.name | uppercase" />
<br />
<label>Apellido: </label>
<input ng-model="tutorialObject.lastname | lowercase" />

<!--Usando directive como elemento-->
<er-welcome-message></er-welcome-message>

<!--Usando directive como atributo-->
<span er-welcome-message></span>

<a href="#/tutorialSecond">Go to second page</a>